@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--light-grayish-cyan);
}

.bg-image {
  background-image: url('./images/bg-header-desktop.svg');
  background-repeat: no-repeat;
  background-color: var(--dark-cyan);
  background-size: cover;
  height: 20vh;
}


