@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --dark-blue: hsl(233, 26%, 24%);
    ---lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);

    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    width: 100vw;
    font-size: 16px;
    font-family: "Public Sans", sans-serif;
}
li a {
    text-decoration: none;
}
ul li {
    list-style: none;
}
main {
    background-color: var(--white);
    padding-inline: 2rem;
}
main nav {
    display: flex;
    align-items:center;
    justify-content: space-between;
}
ul li {
    display: inline-flex;
}

